
/* Existing CSS Variables */
:root {
  --border-main: 3px solid black;
  --background-image: url("assets/background.png");
  --main-text-color: #fff;
  --font-family-main: "Orbitron", sans-serif;
  --input-border-color: #a7a4cc;
  --button-bg-color: #a7a4cc;
  --button-bg-color-hover: #918bc3;
}

/* Existing Styles */
#canvas1 {
  border: var(--border-main);
  background: var(--background-image);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameContainer {
  display: none;
}

.hidden {
  display: none;
}

#passwordPrompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-image);
  padding: 20px;
  border: var(--border-main);
  text-align: center;
  color: var(--main-text-color);
}

#passwordPrompt h2 {
  font-family: var(--font-family-main);
  color: var(--main-text-color);
  margin-bottom: 15px;
}

#passwordInput {
  font-family: var(--font-family-main);
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: var(--input-border);
}

#passwordPrompt button {
  font-family: var(--font-family-main);
  width: 80%;
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#passwordPrompt button:hover {
  background-color: var(--button-bg-color-hover);
}

/* Responsive Gameplay Design */
@media (max-width: 768px) {
  /* Adjusting canvas size for smaller screens */
  #canvas1 {
    width: 100%;
    height: auto;
  }

}

/* Additional Responsive Design for the password prompt */
@media (max-width: 768px) {
  #passwordInput, #passwordPrompt button {
    width: 90%;
  }

  #passwordPrompt {
    width: 80%;
    padding: 15px;
  }

  #passwordPrompt h2 {
    font-size: 1.2em;
  }
}
